<a href="https://colab.research.google.com/github/audwls4545/metaverse/blob/main/%EA%B9%80%EB%AA%85%EC%A7%84(%EA%B3%B5%EA%B3%B5%EC%8B%9C%EC%84%A4).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install koreanize-matplotlib
!pip install pyreadstat

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting koreanize-matplotlib
  Downloading koreanize_matplotlib-0.1.1-py3-none-any.whl (7.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 7.9/7.9 MB 88.4 MB/s eta 0:00:00
Requirement already satisfied: matplotlib in /usr/local/lib/python3.10/dist-packages (from koreanize-matplotlib) (3.7.1)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->koreanize-matplotlib) (1.0.7)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.10/dist-packages (from matplotlib->koreanize-matplotlib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->koreanize-matplotlib) (4.39.3)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->koreanize-matplotlib) (1.4.4)
Requirement already satisfied: numpy>=1.20 in /usr/local/lib/python3.10/dist-packages (from matplotlib->koreanize-matplotlib) (1.22.4)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->koreanize-matplotlib) (23.1)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->koreanize-matplotlib) (8.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->koreanize-matplotlib) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.10/dist-packages (from matplotlib->koreanize-matplotlib) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.7->matplotlib->koreanize-matplotlib) (1.16.0)
Installing collected packages: koreanize-matplotlib
Successfully installed koreanize-matplotlib-0.1.1
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyreadstat
  Downloading pyreadstat-1.2.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (2.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.7/2.7 MB 39.2 MB/s eta 0:00:00
Requirement already satisfied: pandas>=1.2.0 in /usr/local/lib/python3.10/dist-packages (from pyreadstat) (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.2.0->pyreadstat) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.2.0->pyreadstat) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.2.0->pyreadstat) (1.22.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas>=1.2.0->pyreadstat) (1.16.0)
Installing collected packages: pyreadstat
Successfully installed pyreadstat-1.2.2

In [2]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
import koreanize_matplotlib #주의사항 -> matplotlib를 먼저 import 후에 해야함

In [27]:
#의료 데이터
#보건소(보건의료원포함) 수
df_medical_infra = pd.read_csv('/content/drive/MyDrive/colab_data_file/보건소_보건지소_보건진료소_수_20230605233927.csv',encoding='euc-kr')
df_medical_infra.head()

   시도별(1)  2021        2021.1 2021.2     2021.3 2021.4
0  시도별(1)    합계  보건소(보건의료원포함)   보건지소  건강생활지원센터   보건진료소
1       계  3587           258   1342         83   1904
2      서울    55            25     30          0      0
3      부산    39            16     10          8      5
4      대구    28             8      9          3      8

In [69]:
data_medical_infra = df_medical_infra.copy() #복제

data_medical_infra = data_medical_infra.rename(columns={'시도별(1)':'sido', '2021.1':'medical'}) #컬럼명 변경
data_medical = data_medical_infra.loc[:,['sido','medical']] #원하는 부분만 선택
data_medical.head()

     sido       medical
0  시도별(1)  보건소(보건의료원포함)
1       계           258
2      서울            25
3      부산            16
4      대구             8

In [70]:
data_medical= data_medical.drop(data_medical.index[0:2]) #필요없는 2개 행 제거
data_medical.head()

  sido medical
2   서울      25
3   부산      16
4   대구       8
5   인천      10
6   광주       5

In [71]:
data_medical = data_medical.astype({'medical':int}) #정수데이터와 문자데이터 혼합되어있어서 정수로 통일
data_medical = data_medical.sort_values(by='medical', ascending=False) # 내림차순
data_medical = data_medical.reset_index() #인덱스 새로 만들기
data_medical = data_medical.drop('index', axis=1) # index열 제거
data_medical = data_medical.head(10) #상위 10개만 출력
data_medical

  sido  medical
0   경기       48
1   경북       25
2   서울       25
3   전남       22
4   경남       20
5   강원       18
6   부산       16
7   충남       16
8   충북       14
9   전북       14

In [8]:
#문화 데이터
#지역별 공연장 현황
df_cultural_infra = pd.read_csv('/content/drive/MyDrive/colab_data_file/문화시설_20230605230911.csv',encoding='euc-kr')
df_cultural_infra.head()

,소재지(시군구)별(1),소재지(시군구)별(2),2021,2021.1,2021.2,2021.3,2021.4,2021.5,2021.6,2021.7,...,2021.16,2021.17,2021.18,2021.19,2021.20,2021.21,2021.22,2021.23,2021.24,2021.25
0,소재지(시군구)별(1),소재지(시군구)별(2),계,계,공연장,공연장,박물관,박물관,미술관,미술관,...,문화예술진흥시설,문화예술진흥시설,전시시설,전시시설,국제회의시설,국제회의시설,공공도서관,공공도서관,전문도서관,전문도서관
1,소재지(시군구)별(1),소재지(시군구)별(2),시설수 (개),면적 (㎡),시설수 (개),면적 (㎡),시설수 (개),면적 (㎡),시설수 (개),면적 (㎡),...,시설수 (개),면적 (㎡),시설수 (개),면적 (㎡),시설수 (개),면적 (㎡),시설수 (개),면적 (㎡),시설수 (개),면적 (㎡)
2,전국,소계,1087,25154939,6,660830,-,-,23,355041,...,699,18580473,5,88198,-,-,251,1390331,-,-
3,서울특별시,소계,121,852331,-,-,-,-,2,70633,...,74,585687,-,-,-,-,41,101521,-,-
4,서울특별시,종로구,19,48295,0,0,0,0,0,0,...,17,45633,0,0,0,0,2,2662,0,0

In [88]:
data_cultural_infra = df_cultural_infra.copy() #복제

data_cultural_infra = data_cultural_infra.rename(columns={'소재지(시군구)별(2)':'sigungu', '2021.2':'cultural'}) #컬럼명 변경
data_cultural = data_cultural_infra.loc[:,['sigungu','cultural']] #원하는 부분만 선택
data_cultural.head()

        sigungu cultural
0  소재지(시군구)별(2)      공연장
1  소재지(시군구)별(2)  시설수 (개)
2            소계        6
3            소계        -
4           종로구        0

In [89]:
data_cultural= data_cultural.drop(data_cultural.index[0:4]) #필요없는 4개 행 제거
data_cultural.head()

  sigungu cultural
4     종로구        0
5      중구        0
6     용산구        0
7     성동구        0
8     광진구        0

In [90]:
data_cultural = data_cultural.dropna() #공백 데이터 삭제
len(data_cultural['sigungu']=='소계') # 값이 '소계'인 데이터 개수 확인
data_cultural = data_cultural[data_cultural['sigungu']!='소계'] # 값이 '소계'인 데이터 삭제

In [123]:
data_cultural = data_cultural.astype({'cultural':int}) #정수데이터와 문자데이터 혼합되어있어서 정수로 통일
data_cultural = data_cultural.sort_values(by='cultural', ascending=False) # 내림차순
data_cultural = data_cultural.reset_index() #인덱스 새로 만들기
data_cultural = data_cultural.drop('index', axis=1) # index열 제거
data_cultural = data_cultural.head(10) #상위 10개만 출력
data_cultural

  sigungu  cultural
0     계양구         1
1     나주시         1
2     영천시         1
3     과천시         1
4     제천시         1
5     이천시         1
6     종로구         0
7     김제시         0
8     홍성군         0
9     예산군         0

In [10]:
#문화 - 체육시설 데이터
#공공체육시설
#종합운동장
df_sports_infra = pd.read_csv('/content/drive/MyDrive/colab_data_file/체육시설_20230605230924.csv',encoding='euc-kr')
df_sports_infra.head()

,소재지(시군구)별(1),소재지(시군구)별(2),2021,2021.1,2021.2,2021.3,2021.4,2021.5,2021.6,2021.7,2021.8,2021.9
0,소재지(시군구)별(1),소재지(시군구)별(2),계,계,공공체육시설,공공체육시설,골프장(9홀이상),골프장(9홀이상),스키장,스키장,종합운동장,종합운동장
1,소재지(시군구)별(1),소재지(시군구)별(2),시설수 (개),면적 (㎡),시설수 (개),면적 (㎡),시설수 (개),면적 (㎡),시설수 (개),면적 (㎡),시설수 (개),면적 (㎡)
2,전국,소계,1496,486025976,913,50355426,409,403550783,4,2701488,170,29418279
3,서울특별시,소계,62,3420299,57,1100105,-,-,-,-,5,2320194
4,서울특별시,중구,1,2829,1,2829,0,0,0,0,0,0

In [111]:
#공공체육시설
data_sports_infra = df_sports_infra.copy() #복제

data_sports_infra = data_sports_infra.rename(columns={'소재지(시군구)별(2)':'sigungu', '2021.2':'sports'}) #컬럼명 변경
data_sports = data_sports_infra.loc[:,['sigungu','sports']] #원하는 부분만 선택
data_sports.head()

        sigungu   sports
0  소재지(시군구)별(2)   공공체육시설
1  소재지(시군구)별(2)  시설수 (개)
2            소계      913
3            소계       57
4            중구        1

In [112]:
data_sports= data_sports.drop(data_sports.index[0:2]) #필요없는 2개 행 제거
data_sports.head()

  sigungu sports
2      소계    913
3      소계     57
4      중구      1
5     용산구      1
6     성동구      2

In [114]:
data_sports = data_sports[data_sports['sigungu']!='소계'] # 값이 '소계'인 데이터 삭제
data_sports.head()

  sigungu sports
4      중구      1
5     용산구      1
6     성동구      2
7     광진구      5
8     중랑구      5

In [124]:
data_sports = data_sports.astype({'sports':int}) #정수데이터와 문자데이터 혼합되어있어서 정수로 통일
data_sports = data_sports.sort_values(by='sports', ascending=False) # 내림차순
data_sports = data_sports.reset_index() #인덱스 새로 만들기
data_sports = data_sports.drop('index', axis=1) # index열 제거
data_sports = data_sports.head(10) #상위 10개만 출력
data_sports

  sigungu  sports
0    서귀포시       9
1      북구       9
2     구미시       9
3     제천시       9
4     양평군       9
5     광주시       9
6     포항시       9
7     계양구       8
8     함안군       8
9     청주시       8

In [116]:
df_sports_infra.head()

,소재지(시군구)별(1),소재지(시군구)별(2),2021,2021.1,2021.2,2021.3,2021.4,2021.5,2021.6,2021.7,2021.8,2021.9
0,소재지(시군구)별(1),소재지(시군구)별(2),계,계,공공체육시설,공공체육시설,골프장(9홀이상),골프장(9홀이상),스키장,스키장,종합운동장,종합운동장
1,소재지(시군구)별(1),소재지(시군구)별(2),시설수 (개),면적 (㎡),시설수 (개),면적 (㎡),시설수 (개),면적 (㎡),시설수 (개),면적 (㎡),시설수 (개),면적 (㎡)
2,전국,소계,1496,486025976,913,50355426,409,403550783,4,2701488,170,29418279
3,서울특별시,소계,62,3420299,57,1100105,-,-,-,-,5,2320194
4,서울특별시,중구,1,2829,1,2829,0,0,0,0,0,0

In [117]:
#종합운동장 Sports Complex
data_sports_complex = df_sports_infra.copy() #복제

data_sports_complex = data_sports_complex.rename(columns={'소재지(시군구)별(2)':'sigungu', '2021.8':'complex'}) #컬럼명 변경
data_complex = data_sports_complex.loc[:,['sigungu','complex']] #원하는 부분만 선택
data_complex.head()

        sigungu  complex
0  소재지(시군구)별(2)    종합운동장
1  소재지(시군구)별(2)  시설수 (개)
2            소계      170
3            소계        5
4            중구        0

In [118]:
data_complex= data_complex.drop(data_complex.index[0:2]) #필요없는 2개 행 제거
data_complex = data_complex[data_complex['sigungu']!='소계'] # 값이 '소계'인 데이터 삭제
data_complex.head()

  sigungu complex
4      중구       0
5     용산구       0
6     성동구       1
7     광진구       0
8     중랑구       0

In [125]:
data_complex = data_complex.astype({'complex':int}) #정수데이터와 문자데이터 혼합되어있어서 정수로 통일
data_complex = data_complex.sort_values(by='complex', ascending=False) # 내림차순
data_complex = data_complex.reset_index() #인덱스 새로 만들기
data_complex = data_complex.drop('index', axis=1) # index열 제거
data_complex = data_complex.head(10) #상위 10개만 출력
data_complex

   sigungu  complex
0    인천광역시        5
1      평택시        5
2    부산광역시        5
3      경주시        4
4  세종특별자치시        3
5      음성군        3
6      김해시        3
7      나주시        3
8      삼척시        2
9      충주시        2

In [7]:
#교통 - 철도 데이터
#도시철도
#고속철도
df_train_infra = pd.read_csv('/content/drive/MyDrive/colab_data_file/철도_20230605230939.csv',encoding='euc-kr')
df_train_infra.head()

,소재지(시군구)별(1),소재지(시군구)별(2),2021,2021.1,2021.2,2021.3,2021.4,2021.5,2021.6,2021.7,...,2021.15,2021.16,2021.17,2021.18,2021.19,2021.20,2021.21,2021.22,2021.23,2021.24
0,소재지(시군구)별(1),소재지(시군구)별(2),계,계,계,계,계,일반철도,일반철도,일반철도,...,고속철도,고속철도,고속철도,고속철도,고속철도,광역철도,광역철도,광역철도,광역철도,광역철도
1,소재지(시군구)별(1),소재지(시군구)별(2),시설수 (개),노선수 (개),역수 (개),연장 (m),면적 (㎡),시설수 (개),노선수 (개),역수 (개),...,시설수 (개),노선수 (개),역수 (개),연장 (m),면적 (㎡),시설수 (개),노선수 (개),역수 (개),연장 (m),면적 (㎡)
2,전국,소계,1388,200,1188,5547443,148874637,546,116,430,...,77,32,45,704958,23579005,31,9,22,56225,1724213
3,서울특별시,소계,249,38,211,617414,12967363,38,14,24,...,43,8,35,38431,1261632,2,1,1,3045,41178
4,서울특별시,종로구,0,0,0,822,86948,0,0,0,...,0,0,0,165,41031,0,0,0,0,0

In [120]:
#도시철도
data_subway_infra = df_train_infra.copy() #복제

data_subway_infra = data_subway_infra.rename(columns={'소재지(시군구)별(2)':'sigungu', '2021.12':'subway'}) #컬럼명 변경
data_subway = data_subway_infra.loc[:,['sigungu','subway']] #원하는 부분만 선택
data_subway.head()

        sigungu  subway
0  소재지(시군구)별(2)    도시철도
1  소재지(시군구)별(2)  역수 (개)
2            소계     691
3            소계     151
4           종로구       0

In [121]:
data_subway= data_subway.drop(data_subway.index[0:2]) #필요없는 2개 행 제거
data_subway = data_subway[data_subway['sigungu']!='소계'] # 값이 '소계'인 데이터 삭제
data_subway.head()

  sigungu subway
4     종로구      0
5      중구     24
6     용산구      0
7     성동구      6
8     광진구     11

In [126]:
data_subway = data_subway.astype({'subway':int}) #정수데이터와 문자데이터 혼합되어있어서 정수로 통일
data_subway = data_subway.sort_values(by='subway', ascending=False) # 내림차순
data_subway = data_subway.reset_index() #인덱스 새로 만들기
data_subway = data_subway.drop('index', axis=1) # index열 제거
data_subway = data_subway.head(10) #상위 10개만 출력
data_subway

  sigungu  subway
0   대구광역시      88
1   인천광역시      64
2     중랑구       8
3     성남시       8
4     안양시       6
5     동작구       6
6     양산시       6
7     성동구       6
8     과천시       6
9    남양주시       4

In [127]:
df_train_infra.head()

,소재지(시군구)별(1),소재지(시군구)별(2),2021,2021.1,2021.2,2021.3,2021.4,2021.5,2021.6,2021.7,...,2021.15,2021.16,2021.17,2021.18,2021.19,2021.20,2021.21,2021.22,2021.23,2021.24
0,소재지(시군구)별(1),소재지(시군구)별(2),계,계,계,계,계,일반철도,일반철도,일반철도,...,고속철도,고속철도,고속철도,고속철도,고속철도,광역철도,광역철도,광역철도,광역철도,광역철도
1,소재지(시군구)별(1),소재지(시군구)별(2),시설수 (개),노선수 (개),역수 (개),연장 (m),면적 (㎡),시설수 (개),노선수 (개),역수 (개),...,시설수 (개),노선수 (개),역수 (개),연장 (m),면적 (㎡),시설수 (개),노선수 (개),역수 (개),연장 (m),면적 (㎡)
2,전국,소계,1388,200,1188,5547443,148874637,546,116,430,...,77,32,45,704958,23579005,31,9,22,56225,1724213
3,서울특별시,소계,249,38,211,617414,12967363,38,14,24,...,43,8,35,38431,1261632,2,1,1,3045,41178
4,서울특별시,종로구,0,0,0,822,86948,0,0,0,...,0,0,0,165,41031,0,0,0,0,0

In [128]:
#고속철도
data_train_infra = df_train_infra.copy() #복제

data_train_infra = data_train_infra.rename(columns={'소재지(시군구)별(2)':'sigungu', '2021.17':'train'}) #컬럼명 변경
data_train = data_train_infra.loc[:,['sigungu','train']] #원하는 부분만 선택
data_train.head()

        sigungu   train
0  소재지(시군구)별(2)    고속철도
1  소재지(시군구)별(2)  역수 (개)
2            소계      45
3            소계      35
4           종로구       0

In [129]:
data_train= data_train.drop(data_train.index[0:2]) #필요없는 2개 행 제거
data_train = data_train[data_train['sigungu']!='소계'] # 값이 '소계'인 데이터 삭제
data_train.head()

  sigungu train
4     종로구     0
5      중구     0
6     용산구     0
7     성동구    17
8     광진구     0

In [130]:
data_train = data_train.astype({'train':int}) #정수데이터와 문자데이터 혼합되어있어서 정수로 통일
data_train = data_train.sort_values(by='train', ascending=False) # 내림차순
data_train = data_train.reset_index() #인덱스 새로 만들기
data_train = data_train.drop('index', axis=1) # index열 제거
data_train = data_train.head(10) #상위 10개만 출력
data_train

  sigungu  train
0     성동구     17
1     동작구     17
2   부산광역시      3
3     화성시      2
4     관악구      1
5     공주시      1
6      중구      1
7     장성군      1
8     김해시      1
9     청주시      1

In [9]:
#교통 - 공항 데이터
#공항
df_airplane_infra = pd.read_csv('/content/drive/MyDrive/colab_data_file/공항_20230605230947.csv',encoding='euc-kr')
df_airplane_infra.head()

   소재지(시군구)별(1)  소재지(시군구)별(2)     2021    2021.1      2021.2
0  소재지(시군구)별(1)  소재지(시군구)별(2)       공항        공항  공항시설_여객터미널
1  소재지(시군구)별(1)  소재지(시군구)별(2)  시설수 (개)    면적 (㎡)      면적 (㎡)
2            전국            소계       22  82942828      149227
3         서울특별시            소계        1   7253942           -
4         서울특별시           강서구        1   7253942           0

In [131]:
data_airplane_infra = df_airplane_infra.copy() #복제

data_airplane_infra = data_airplane_infra.rename(columns={'소재지(시군구)별(2)':'sigungu', '2021':'airplane'}) #컬럼명 변경
data_airplane = data_airplane_infra.loc[:,['sigungu','airplane']] #원하는 부분만 선택
data_airplane.head()

        sigungu airplane
0  소재지(시군구)별(2)       공항
1  소재지(시군구)별(2)  시설수 (개)
2            소계       22
3            소계        1
4           강서구        1

In [132]:
data_airplane= data_airplane.drop(data_airplane.index[0:2]) #필요없는 2개 행 제거
data_airplane = data_airplane[data_airplane['sigungu']!='소계'] # 값이 '소계'인 데이터 삭제
data_airplane.head()

   sigungu airplane
4      강서구        1
6    부산광역시        1
8    대구광역시        2
10   인천광역시        2
12   광주광역시        1

In [133]:
data_airplane = data_airplane.astype({'airplane':int}) #정수데이터와 문자데이터 혼합되어있어서 정수로 통일
data_airplane = data_airplane.sort_values(by='airplane', ascending=False) # 내림차순
data_airplane = data_airplane.reset_index() #인덱스 새로 만들기
data_airplane = data_airplane.drop('index', axis=1) # index열 제거
data_airplane = data_airplane.head(10) #상위 10개만 출력
data_airplane

  sigungu  airplane
0     김해시         3
1   대구광역시         2
2   인천광역시         2
3   울산광역시         2
4     강서구         1
5     김제시         1
6     포항시         1
7     무안군         1
8     영암군         1
9     여수시         1