<a href="https://colab.research.google.com/github/audwls4545/metaverse/blob/main/%EC%BD%98%ED%85%90%EC%B8%A0%EA%B8%B0%EB%B0%98%EC%9D%98_%EC%B6%94%EC%B2%9C%EC%8B%9C%EC%8A%A4%ED%85%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

df = pd.read_csv('/content/drive/MyDrive/colab_data_file/tmdb_5000_movies.csv')
df

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4798,220000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",NaN,9367,"[{""id"": 5616, ""name"": ""united states\u2013mexi...",es,El Mariachi,El Mariachi just wants to play his guitar and ...,14.269792,"[{""name"": ""Columbia Pictures"", ""id"": 5}]","[{""iso_3166_1"": ""MX"", ""name"": ""Mexico""}, {""iso...",1992-09-04,2040920,81.0,"[{""iso_639_1"": ""es"", ""name"": ""Espa\u00f1ol""}]",Released,"He didn't come looking for trouble, but troubl...",El Mariachi,6.6,238
4799,9000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",NaN,72766,[],en,Newlyweds,A newlywed couple's honeymoon is upended by th...,0.642552,[],[],2011-12-26,0,85.0,[],Released,A newlywed couple's honeymoon is upended by th...,Newlyweds,5.9,5
4800,0,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",http://www.hallmarkchannel.com/signedsealeddel...,231617,"[{""id"": 248, ""name"": ""date""}, {""id"": 699, ""nam...",en,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic...",1.444476,"[{""name"": ""Front Street Pictures"", ""id"": 3958}...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2013-10-13,0,120.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,"Signed, Sealed, Delivered",7.0,6
4801,0,[],http://shanghaicalling.com/,126186,[],en,Shanghai Calling,When ambitious New York attorney Sam is sent t...,0.857008,[],"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-05-03,0,98.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,A New Yorker in Shanghai,Shanghai Calling,5.7,7
4802,0,"[{""id"": 99, ""name"": ""Documentary""}]",NaN,25975,"[{""id"": 1523, ""name"": ""obsession""}, {""id"": 224...",en,My Date with Drew,Ever since the second grade when he first saw ...,1.929883,"[{""name"": ""rusty bear entertainment"", ""id"": 87...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2005-08-05,0,90.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,My Date with Drew,6.3,16

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   homepage              1712 non-null   object
 3   id                    4803 non-null   int64
 4   keywords              4803 non-null   object
 5   original_language     4803 non-null   object
 6   original_title        4803 non-null   object
 7   overview              4800 non-null   object
 8   popularity            4803 non-null   float64
 9   production_companies  4803 non-null   object
 10  production_countries  4803 non-null   object
 11  release_date          4802 non-null   object
 12  revenue               4803 non-null   int64
 13  runtime               4801 non-null   float64
 14  spoken_languages      4803 non-null   object
 15  status                4803 non-null   object
 16  tagline               3959 non-null   object
 17  title                 4803 non-null   object
 18  vote_average          4803 non-null   float64
 19  vote_count            4803 non-null   int64
dtypes: float64(3), int64(4), object(13)
memory usage: 750.6+ KB

In [3]:
df.iloc[0]['genres']

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [4]:
#문자로 감싸진 것을 다시 리스트로 만들기
from ast import literal_eval

literal_eval(df.iloc[0]['genres'])

[{'id': 28, 'name': 'Action'},
 {'id': 12, 'name': 'Adventure'},
 {'id': 14, 'name': 'Fantasy'},
 {'id': 878, 'name': 'Science Fiction'}]

In [5]:
movies_df = df[['id', 'title', 'genres', 'vote_average',
                'vote_count', 'popularity', 'keywords', 'overview']]

In [6]:
movies_df[['genres', 'keywords']]

,genres,keywords
0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":..."
1,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na..."
2,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name..."
3,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,..."
4,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":..."
...,...,...
4798,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 5616, ""name"": ""united states\u2013mexi..."
4799,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",[]
4800,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...","[{""id"": 248, ""name"": ""date""}, {""id"": 699, ""nam..."
4801,[],[]
4802,"[{""id"": 99, ""name"": ""Documentary""}]","[{""id"": 1523, ""name"": ""obsession""}, {""id"": 224..."

In [7]:
movies_df['genres'] = movies_df['genres'].apply(literal_eval) #문자로 된거를 리스트로 넣어주기
movies_df['keywords'] = movies_df['keywords'].apply(literal_eval)

<ipython-input-7-213972e77030>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_df['genres'] = movies_df['genres'].apply(literal_eval) #문자로 된거를 리스트로 넣어주기
<ipython-input-7-213972e77030>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_df['keywords'] = movies_df['keywords'].apply(literal_eval)

In [8]:
movies_df['genres']

0       [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
1       [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
2       [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
3       [{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...
4       [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
                              ...
4798    [{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...
4799    [{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...
4800    [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
4801                                                   []
4802                  [{'id': 99, 'name': 'Documentary'}]
Name: genres, Length: 4803, dtype: object

In [9]:
name_result = []

for temp in movies_df['genres']:
    names = []
    for temp1 in temp:
        names.append(temp1['name'])
    name_result.append(names)

movies_df['genres'] = name_result
movies_df['genres']

<ipython-input-9-668dcb36ff86>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_df['genres'] = name_result

0       [Action, Adventure, Fantasy, Science Fiction]
1                        [Adventure, Fantasy, Action]
2                          [Action, Adventure, Crime]
3                    [Action, Crime, Drama, Thriller]
4                [Action, Adventure, Science Fiction]
                            ...
4798                        [Action, Crime, Thriller]
4799                                [Comedy, Romance]
4800               [Comedy, Drama, Romance, TV Movie]
4801                                               []
4802                                    [Documentary]
Name: genres, Length: 4803, dtype: object

In [10]:
key_result = []

for temp in movies_df['keywords']:
    keys = []
    for temp1 in temp:
        keys.append(temp1['name'])
    key_result.append(keys)

movies_df['keywords'] = key_result
movies_df['keywords']

<ipython-input-10-33a83c7e66c6>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_df['keywords'] = key_result

0       [culture clash, future, space war, space colon...
1       [ocean, drug abuse, exotic island, east india ...
2       [spy, based on novel, secret agent, sequel, mi...
3       [dc comics, crime fighter, terrorist, secret i...
4       [based on novel, mars, medallion, space travel...
                              ...
4798    [united states–mexico barrier, legs, arms, pap...
4799                                                   []
4800    [date, love at first sight, narration, investi...
4801                                                   []
4802            [obsession, camcorder, crush, dream girl]
Name: keywords, Length: 4803, dtype: object

In [11]:
data_result = []

for temp in movies_df['genres']:
    data = (' ').join(temp)
    data_result.append(data)

movies_df['genres_literal'] = data_result
movies_df['genres_literal']

<ipython-input-11-655947846185>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_df['genres_literal'] = data_result

0       Action Adventure Fantasy Science Fiction
1                       Adventure Fantasy Action
2                         Action Adventure Crime
3                    Action Crime Drama Thriller
4               Action Adventure Science Fiction
                          ...
4798                       Action Crime Thriller
4799                              Comedy Romance
4800               Comedy Drama Romance TV Movie
4801
4802                                 Documentary
Name: genres_literal, Length: 4803, dtype: object

In [13]:
from sklearn.feature_extraction.text import CountVectorizer

count_vect = CountVectorizer(min_df = 0, ngram_range = (1, 2))
genre_mat = count_vect.fit_transform(movies_df['genres_literal'])
print(genre_mat.toarray())
print(genre_mat.shape)
count_vect.vocabulary_

[[1 1 0 ... 0 0 0]
 [1 0 0 ... 0 0 0]
 [1 1 0 ... 0 0 0]
 ...
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]]
(4803, 276)

{'action': 0,
 'adventure': 16,
 'fantasy': 124,
 'science': 232,
 'fiction': 138,
 'action adventure': 1,
 'adventure fantasy': 24,
 'fantasy science': 135,
 'science fiction': 233,
 'fantasy action': 125,
 'crime': 64,
 'adventure crime': 20,
 'drama': 90,
 'thriller': 234,
 'action crime': 4,
 'crime drama': 68,
 'drama thriller': 106,
 'adventure science': 29,
 'animation': 33,
 'family': 109,
 'animation family': 38,
 'fantasy family': 130,
 'action science': 12,
 'adventure action': 17,
 'action thriller': 13,
 'thriller crime': 238,
 'western': 265,
 'adventure western': 32,
 'adventure family': 23,
 'family fantasy': 115,
 'fiction action': 139,
 'action fantasy': 7,
 'comedy': 44,
 'action comedy': 3,
 'comedy science': 59,
 'adventure drama': 22,
 'drama action': 91,
 'romance': 214,
 'drama romance': 104,
 'romance thriller': 228,
 'thriller action': 235,
 'fiction thriller': 150,
 'adventure thriller': 30,
 'fantasy adventure': 126,
 'family adventure': 111,
 'adventure comedy': 19,
 'thriller science': 247,
 'family comedy': 113,
 'horror': 170,
 'action drama': 5,
 'drama horror': 101,
 'horror science': 180,
 'action family': 6,
 'action romance': 11,
 'fiction adventure': 140,
 'adventure animation': 18,
 'animation adventure': 35,
 'comedy family': 51,
 'family action': 110,
 'comedy crime': 48,
 'crime thriller': 78,
 'animation drama': 37,
 'fiction fantasy': 146,
 'animation comedy': 36,
 'drama family': 97,
 'fiction western': 152,
 'crime fantasy': 70,
 'fantasy comedy': 128,
 'drama comedy': 94,
 'comedy animation': 47,
 'drama fantasy': 98,
 'fantasy drama': 129,
 'family romance': 120,
 'fiction romance': 149,
 'comedy adventure': 46,
 'fantasy animation': 127,
 'mystery': 200,
 'family mystery': 119,
 'mystery science': 210,
 'family animation': 112,
 'animation action': 34,
 'drama science': 105,
 'fiction mystery': 148,
 'mystery adventure': 202,
 'thriller mystery': 245,
 'mystery romance': 209,
 'comedy drama': 50,
 'thriller adventure': 236,
 'history': 158,
 'war': 252,
 'history romance': 166,
 'romance war': 230,
 'war history': 258,
 'history action': 159,
 'horror action': 171,
 'comedy fantasy': 52,
 'horror thriller': 181,
 'drama war': 107,
 'action animation': 2,
 'action war': 14,
 'action mystery': 10,
 'drama mystery': 103,
 'animation fantasy': 39,
 'western drama': 271,
 'drama adventure': 92,
 'family western': 123,
 'western adventure': 267,
 'mystery thriller': 211,
 'animation science': 42,
 'fiction family': 145,
 'comedy thriller': 60,
 'animation mystery': 41,
 'family science': 121,
 'crime mystery': 75,
 'fantasy horror': 131,
 'adventure mystery': 27,
 'action history': 8,
 'history war': 168,
 'thriller drama': 240,
 'drama history': 100,
 'war action': 253,
 'crime comedy': 67,
 'fiction drama': 144,
 'adventure history': 25,
 'music': 187,
 'romance family': 221,
 'animation music': 40,
 'comedy romance': 58,
 'history crime': 160,
 'drama crime': 95,
 'drama western': 108,
 'drama animation': 93,
 'thriller romance': 246,
 'horror mystery': 178,
 'romance fantasy': 222,
 'family drama': 114,
 'western history': 272,
 'mystery drama': 204,
 'thriller history': 242,
 'comedy action': 45,
 'thriller fantasy': 241,
 'fantasy thriller': 136,
 'romance science': 227,
 'history thriller': 167,
 'romance drama': 220,
 'fantasy romance': 134,
 'drama music': 102,
 'horror comedy': 172,
 'family music': 118,
 'music animation': 189,
 'crime science': 77,
 'romance comedy': 218,
 'fantasy mystery': 133,
 'mystery family': 205,
 'war drama': 257,
 'western animation': 268,
 'fiction war': 151,
 'music romance': 197,
 'documentary': 80,
 'documentary family': 85,
 'thriller horror': 243,
 'comedy music': 56,
 'crime romance': 76,
 'war science': 262,
 'thriller war': 248,
 'fantasy music': 132,
 'fantasy war': 137,
 'action horror': 9,
 'music family': 194,
 'mystery action': 201,
 'history drama': 162,
 'crime action': 65,
 'action western': 15,
 'mystery western': 213,
 'adventure war': 31,
 'music documentary': 192,
 'fiction horror': 147,
 'fiction animation': 141,
 'romance adventure': 216,
 'adventure horror': 26,
 'fiction comedy': 142,
 'comedy western': 63,
 'family thriller': 122,
 'crime adventure': 66,
 'crime family': 69,
 'horror romance': 179,
 'romance animation': 217,
 'comedy horror': 55,
 'horror fantasy': 176,
 'adventure romance': 28,
 'music drama': 193,
 'mystery war': 212,
 'romance western': 231,
 'history western': 169,
 'western thriller': 275,
 'romance action': 215,
 'romance horror': 225,
 'history mystery': 165,
 'comedy war': 62,
 'crime history': 72,
 'war adventure': 254,
 'war romance': 261,
 'western crime': 270,
 'crime horror': 73,
 'war crime': 256,
 'music comedy': 190,
 'romance history': 224,
 'mystery fantasy': 206,
 'romance crime': 219,
 'family horror': 117,
 'thriller music': 244,
 'war music': 259,
 'mystery crime': 203,
 'comedy documentary': 49,
 'documentary action': 81,
 'horror drama': 175,
 'music adventure': 188,
 'western music': 273,
 'romance music': 226,
 'foreign': 153,
 'drama foreign': 99,
 'thriller western': 249,
 'crime war': 79,
 'mystery horror': 207,
 'music crime': 191,
 'history music': 164,
 'war comedy': 255,
 'western action': 266,
 'horror crime': 173,
 'history family': 163,
 'thriller comedy': 237,
 'documentary music': 88,
 'crime music': 74,
 'comedy mystery': 57,
 'crime foreign': 71,
 'romance foreign': 223,
 'western romance': 274,
 'mystery music': 208,
 'foreign romance': 156,
 'foreign history': 155,
 'family foreign': 116,
 'music science': 198,
 'tv': 250,
 'movie': 182,
 'tv movie': 251,
 'movie romance': 186,
 'music mystery': 196,
 'fiction crime': 143,
 'war mystery': 260,
 'comedy foreign': 53,
 'documentary comedy': 82,
 'war thriller': 263,
 'movie crime': 184,
 'music tv': 199,
 'drama documentary': 96,
 'comedy history': 54,
 'romance tv': 229,
 'war western': 264,
 'movie horror': 185,
 'movie action': 183,
 'western comedy': 269,
 'documentary drama': 84,
 'animation war': 43,
 'history documentary': 161,
 'horror history': 177,
 'thriller documentary': 239,
 'documentary crime': 83,
 'horror documentary': 174,
 'documentary mystery': 89,
 'adventure documentary': 21,
 'documentary foreign': 86,
 'music horror': 195,
 'foreign documentary': 154,
 'comedy tv': 61,
 'documentary history': 87,
 'foreign thriller': 157}

In [14]:
from sklearn.metrics.pairwise import cosine_similarity
genre_sim = cosine_similarity(genre_mat, genre_mat)
genre_sim

array([[1.        , 0.59628479, 0.4472136 , ..., 0.        , 0.        ,
        0.        ],
       [0.59628479, 1.        , 0.4       , ..., 0.        , 0.        ,
        0.        ],
       [0.4472136 , 0.4       , 1.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 1.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        1.        ]])

In [16]:
genre_sim.argsort()[:,::-1] #내림차순

array([[   0, 3494,  813, ..., 3038, 3037, 2401],
       [ 262,    1,  129, ..., 3069, 3067, 2401],
       [   2, 1740, 1542, ..., 3000, 2999, 2401],
       ...,
       [4800, 3809, 1895, ..., 2229, 2230,    0],
       [4802, 1594, 1596, ..., 3204, 3205,    0],
       [4802, 4710, 4521, ..., 3140, 3141,    0]])

In [25]:
def find_sim_movie(df, sorted_ind, title_name, top_n = 10):
    title_movie = df[df['title'] == title_name]
    title_index = title_movie.index.values
    similar_indexes = sorted_ind[title_index, :(top_n)]

    return df.iloc[similar_indexes[0]]

In [27]:
genre_sorted = genre_sim.argsort()[:,::-1]

similar_movies = find_sim_movie(movies_df, genre_sorted, 'The Godfather', 10)
similar_movies['title']

2731                            The Godfather: Part II
1243                                      Mean Streets
3636                                     Light Sleeper
1946    The Bad Lieutenant: Port of Call - New Orleans
2640           Things to Do in Denver When You're Dead
4065                                        Mi America
1847                                        GoodFellas
4217                                              Kids
883                                Catch Me If You Can
3866                                       City of God
Name: title, dtype: object